@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,100&display=swap');
body{
  
  font-family: 'Montserrat Alternates', sans-serif !important;
  background-color: #131722 !important;   
  color: #fff;

}




.most{

  
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: smaller;
}

.brdr{

    height: 1px;
    background-color: #a8a8a83d;

}

.vote{

  background-color:teal;
  
}
